{#
/**
 * @file
 * Template for article nodes.
 */
#}
{% extends "themes/twiggy/templates/node.html.twig" %}

{% block infobar %}
<div class="infobar-inner">
  {{ "This is hte diff of my node templates.<br />IT'S ONLY THE DIFF!"|t }}
</div>
{% endblock %}